/* line 1, ../../sass/partials/welcome-login.sass */
html {
  background-color: #81aeab;
  background-image: -moz-linear-gradient(top, #71a4a1 0%, #81aeab 20%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #71a4a1), color-stop(0.2, #81aeab));
}

/* line 6, ../../sass/partials/welcome-login.sass */
body {
  width: 1240px;
  margin: 0 auto;
  color: #333333;
  font: 12px/18px Corbel, Arial, Helvetica, sans-serif;
  text-align: justify;
}

/* line 13, ../../sass/partials/welcome-login.sass */
p {
  margin-bottom: 18px;
}

/* line 16, ../../sass/partials/welcome-login.sass */
a {
  color: #940033;
  .hover-border-bottom: 1px solid #940033;
  .active-border-bottom: 2px solid #940033;
}

/* HEADER */
/* line 24, ../../sass/partials/welcome-login.sass */
hgroup {
  margin: 20px 0 40px;
}
/* line 26, ../../sass/partials/welcome-login.sass */
hgroup h1 {
  font: 40px/54px HighlandGothicLightFLFRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #970000;
  text-shadow: -1px -1px 0 #650000, 0 0 10px rgba(255, 255, 255, 0.7);
}
/* line 30, ../../sass/partials/welcome-login.sass */
hgroup h2 {
  font: 14px/20px Colaborate-RegularRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #eeeeee;
}
/* line 33, ../../sass/partials/welcome-login.sass */
hgroup h2 a:hover {
  border: none;
}

/* Nav */
/* line 37, ../../sass/partials/welcome-login.sass */
nav {
  margin: 30px 0 40px;
  background-color: #970000;
  background-image: -moz-linear-gradient(top, #ca0000, #970000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ca0000), color-stop(1, #970000));
  box-shadow: inset 0 0 15px #990000, 0 0 20px #446b6b, inset 0 35px 35px -18px #ca0000;
  -moz-box-shadow: inset 0 0 15px #990000, 0 0 20px #446b6b;
  -webkit-box-shadow: 0 0 20px #446b6b;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  /* nav-ul */
}
/* line 49, ../../sass/partials/welcome-login.sass */
nav ul {
  text-align: center;
  height: 40px;
  margin: 0 auto;
  display: table;
  /* nav-ul-li */
}
/* line 55, ../../sass/partials/welcome-login.sass */
nav ul li {
  display: inline;
  position: relative;
  /* nav-ul-li-a */
}
/* line 59, ../../sass/partials/welcome-login.sass */
nav ul li a {
  font-size: 14px;
  padding: 0 10px;
  color: white;
  display: block;
  line-height: 40px;
  float: left;
}

/*Container */
/* line 67, ../../sass/partials/welcome-login.sass */
#container {
  width: 950px;
}
/* line 69, ../../sass/partials/welcome-login.sass */
#container #left-text {
  float: left;
  width: 40%;
  color: white;
  font: 15px HighlandGothicLightFLFRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 50px 0 0 0;
}
/* line 75, ../../sass/partials/welcome-login.sass */
#container #right-login {
  float: right;
  width: 20%;
  margin: 0 0 0 100px;
}

/*footer */
/* line 81, ../../sass/partials/welcome-login.sass */
#foot {
  float: left;
  margin: 250px 0 0 0;
}
