/* line 7, ../sass/layout.sass */
body {
  width: 1240px;
  margin: 0 auto;
  color: #333333;
  font: 12px/18px Corbel, Arial, Helvetica, sans-serif;
  text-align: justify;
}

/* line 15, ../sass/layout.sass */
p {
  margin-bottom: 18px;
}

/* line 18, ../sass/layout.sass */
a {
  color: #940033;
  .hover-border-bottom: 1px solid #940033;
  .active-border-bottom: 2px solid #940033;
}

/* bg-img */
/* line 26, ../sass/layout.sass */
.bg {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* HEADER */
/* line 36, ../sass/layout.sass */
hgroup {
  margin: 20px 0 40px;
}
/* line 38, ../sass/layout.sass */
hgroup h1 {
  font: 40px/54px HighlandGothicLightFLFRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #970000;
  text-shadow: -1px -1px 0 #650000, 0 0 10px rgba(255, 255, 255, 0.7);
}
/* line 42, ../sass/layout.sass */
hgroup h2 {
  font: 14px/20px Colaborate-RegularRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #eeeeee;
}
/* line 45, ../sass/layout.sass */
hgroup h2 a:hover {
  border: none;
}

/* Nav */
/* line 49, ../sass/layout.sass */
nav {
  margin: 30px 0 40px;
  background-color: #970000;
  background-image: -moz-linear-gradient(top, #ca0000, #970000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ca0000), color-stop(1, #970000));
  box-shadow: inset 0 0 15px #990000, 0 0 20px #446b6b, inset 0 35px 35px -18px #ca0000;
  -moz-box-shadow: inset 0 0 15px #990000, 0 0 20px #446b6b;
  -webkit-box-shadow: 0 0 20px #446b6b;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  /* nav-ul */
}
/* line 61, ../sass/layout.sass */
nav ul {
  text-align: center;
  height: 40px;
  margin: 0 auto;
  display: table;
  /* nav-ul-li */
}
/* line 67, ../sass/layout.sass */
nav ul li {
  display: inline;
  position: relative;
  /* nav-ul-li-a */
}
/* line 71, ../sass/layout.sass */
nav ul li a {
  font-size: 14px;
  padding: 0 10px;
  color: white;
  display: block;
  line-height: 40px;
  float: left;
}

/*Container */
/* line 79, ../sass/layout.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 82, ../sass/layout.sass */
#container #left-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 147, ../../.rvm/gems/ruby-1.9.2-p290@rails311/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #left-column {
  overflow-x: hidden;
}
/* line 88, ../sass/layout.sass */
#container #right-column {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
}
/* line 147, ../../.rvm/gems/ruby-1.9.2-p290@rails311/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #right-column {
  overflow-x: hidden;
}

/*footer */
/* line 94, ../sass/layout.sass */
#foot {
  float: left;
  margin: 250px 0 0 250px;
}
