%header
      %hgroup
        %h1 @site_name and @site_logo
        %h2 
           @site_short_description
       
      %nav
        %ul 
          %li 
            %a{:href => '#'}@item_name1
          %li
            %a{:href => '#'}@item_name2
          %li
            %a{:href => '#'}@item_name3
          %li
            %a{:href => '#'}@item_name4
       
