//learn form http://www.cosmicparadigm.com/
!!! 5
%html

  %head
    %meta{ :charset => "utf-8" }
    %title Wingflying
    %link{ :href => 'stylesheets/partials/bg-img.css', :type => 'text/css', :rel => 'stylesheet' }
    
  %body
    %img{ :class => 'bg', :src => 'background60.jpg' }
