ul {
  float: left;
  margin: ;
  padding: ;
  list-style: ;
  background: ;
  
}

li {
  float: left;
  margin: ;
  padding: ;
  background: ;
  
}

a {
  float: left;
  margin: ;
  padding: ;
  font-family: ;
  color: ;
  font-size: ;
  display: ;
  border: ;
  text-decoration: ;
  background: ;

}
